body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

#map {
	min-height: 100px;
	padding-top: 50px;
}

#legend {
	position: absolute !important;
	top: 50px;
	right: 0;
	padding: 10px;
	color: white;
	background-color: black;
}

.esriPopup .titlePane{
	color: white;
	background-color: black;
}
/*
.esriPopup .contentPane {
	color: white;
	background-color: #333;
}*/